html {
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo-front {
    color: #4d5ae5;
}

.menu a {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.menu a:hover {
    color: #404bbf;
}

.menu a:focus {
    color: #404bbf;
}

.address a {
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address a:hover {
    color: #404bbf;
}

.address a:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;;
}

.page-title {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-button {
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.hero-button:hover {
    background-color: #404bbf;
}

.hero-button:focus {
    background-color: #404bbf;
}

.section-title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.features-card-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-card-text {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #f4f4fd;
}

.team-card, .project-card {
    background-color: #fff;
}

.team-card-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-card-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.project-card-title {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.project-card-text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

footer {
    background-color: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.13rem;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}